{% load i18n %}

{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}"
	xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

{# Robots #}
<meta name="robots" content="NONE,NOARCHIVE" />

{# Cache #}
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />

{# Title #}
<title>{% block title %}{% trans "Live Manager" %}{% endblock %}</title>

{# CSS #}
{% include "styles.html" %}

{% block extrahead %}{% endblock %}

{% block head %}
	{% block styles %}{% endblock %}
	{% block scripts %}{% endblock %}
{% endblock %}

</head>
<body>
	<div class="body-container">
		{% block body %}{% endblock %}
		<div class="spinner">
			<img src="{{MEDIA_URL}}img/spinner.gif" alt="Loading"/>
		</div>
	</div>
</body>
</html>
{% endspaceless %}
