<style type="text/css" media="screen, print">
{% if debug %}
	@import url("{{MEDIA_URL}}css/theme.css");
	@import url('{{MEDIA_URL}}css/form.css');
	@import url('{{MEDIA_URL}}css/search.css');
	@import url('{{MEDIA_URL}}css/list.css');
	@import url('{{MEDIA_URL}}css/pagination.css');
	@import url('{{MEDIA_URL}}css/dashboard.css');
	@import url('{{MEDIA_URL}}css/login.css');
	@import url('{{MEDIA_URL}}css/tooltip.css');
	@import url('{{MEDIA_URL}}css/modal.css');
	{% if "MSIE" in request.META.HTTP_USER_AGENT %}
		@import url("{{MEDIA_URL}}css/specific-msie.css");
	{% else %}{% if "WebKit" in request.META.HTTP_USER_AGENT %}
		@import url("{{MEDIA_URL}}css/specific-webkit.css");
	{% else %}{% if "Gecko" in request.META.HTTP_USER_AGENT %}
		@import url("{{MEDIA_URL}}css/specific-moz.css");
	{% endif %}{% endif %}{% endif %}
{% else %}
	@import url("{{MEDIA_URL}}css/all.min.css");
	{% if "MSIE" in request.META.HTTP_USER_AGENT %}
		@import url("{{MEDIA_URL}}css/specific-msie.min.css");
	{% else %}{% if "WebKit" in request.META.HTTP_USER_AGENT %}
		@import url("{{MEDIA_URL}}css/specific-webkit.min.css");
	{% else %}{% if "Gecko" in request.META.HTTP_USER_AGENT %}
		@import url("{{MEDIA_URL}}css/specific-moz.min.css");
	{% endif %}{% endif %}{% endif %}
{% endif %}
</style>
