{% load i18n %}
<div class="actions-box">
	<input type="submit" value="{% trans "Save" %}" class="default" name="_save_list" />
	<input type="submit" value="{% trans "Save and continue editing" %}" name="_save_edit" />
	<input type="submit" value="{% trans "Save and add another" %}" name="_save_add" />
	{% if delete %}
	<div class="delete-box">
		<a href="#" class="delete">
			<img class="icon delete" style="margin-top: -2px;" src="{{MEDIA_URL}}img/trans1x1.gif">
			{% trans "Delete" %}
		</a>
	</div>
	{% endif %}
</div>
