{% load i18n append_to_get %}
{% if page.has_other_pages %}
<ul class="pagination">
	{% if page.has_previous %}
		<li class="previous">
			<a href="{% append_to_get page=page.previous_page_number %}">{% trans "previous" %}</a>
		</li>
	{% else %}
		<li class="previous-off">{% trans "previous" %}</li>
	{% endif %}
	{% for number in page.paginator.limited_page_range %}
		{% if number == page.number %}
				<li class="active">{{ number }}</li>
		{% else %}
				<li>
					<a href="{% append_to_get page=number %}">{{ number }}</a>
				</li>
		{% endif %}
	{% endfor %}
	{% if page.has_next %}
		<li class="next">
			<a href="{% append_to_get page=page.next_page_number %}">{% trans "next" %}</a>
		</li>
	{% else %}
		<li class="next-off">{% trans "next" %}</li>
	{% endif %}
</ul>
{% endif %}
<div style="float: right; padding-top: 4px; padding-bottom: 4px;">
	{{ page.start_index }} - {{ page.end_index }} {% trans "of" %} {{ page.paginator.count }}
</div>
