.panel {
	margin: 5px;
	float: left;
	border: 1px solid #d6d7d7;
}

.summary {
	background-color: #eee;
	width: 230px;
	padding-bottom: 10px;
	padding: 10px;
}
.summary .row {
	clear: both;
}
.summary .key {
	float: left;
	color: #666;
	font-size: 14px;
	font-weight: bold;
}
.summary .value {
	float: left;
	width: 50px;
	color: #698EB9;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.listing {
	background-color: #fff;
}
.listing .titlebar {
	background-color: #dadada;
	/* -specific-
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#fff), to(#dadada));
	background: -moz-linear-gradient(top, #fff, #dadada);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#ffdadada);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#ffdadada)";
	*/
	border-bottom: 1px solid #d6d7d7;
	padding: 5px 0 5px 0;
	font-weight: bold;
	color: #666;
}
.listing .titlebar span {
	margin: 5px;
}
.listing table {
	width: 100%;
}
.listing table thead tr {
	height: 20px;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	color: #999;
}
/*
	According to http://www.quirksmode.org/css/contents.html:
	- IE7 does support ":first-child", but doesn’t update the styles when elements are added dynamically; 
 	- IE7 does NOT support ":last-child";
.listing table th:first-child,
.listing table td:first-child,
.listing table th:last-child,
.listing table td:last-child {
	// top left bottom right
	padding: 0 10px 0 10px;
}
*/

.listing table tbody tr {
	border-bottom: 1px solid #ccc;
}
.listing table tbody tr:last-child {
	border-bottom: 0;
}
.panel.listing,
.listing table tbody tr td {
	/* -specific-
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	NOTE: Hovered elements with different bg-color don't show rounded borders in Firefox (4b06).
	-moz-border-radius-bottomleft: 5px 5px;
	-moz-border-radius-bottomright: 5px 5px;
	*/
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

.chart {
	border: none;
	clear: left;
}

#latest_conversations.listing table tbody tr:hover {
	background-color: #f8f8f8;
	cursor: pointer;
}
#most_active_users_chart img {
	/*float: right;*/
	padding: 5px;
	border: 1px solid #d6d7d7;
	/* -specific-
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	*/
	border-radius: 5px 5px 5px 5px;
}
