/* dashboard.css */
.listing .titlebar {
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#fff), to(#dadada));
}
.panel.listing,
.listing table tbody tr td {
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
#most_active_users_chart img {
	-webkit-border-radius: 5px;
}

/* form.css */
input[type='button'],
input[type='submit'] {
	background: -webkit-gradient(linear, 0 40%, 0 70%, from(#F9F9F9), to(#E3E3E3));
	margin-right: 0px;
}
form.generic .titlebar {
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#fff), to(#dadada));
}
form.generic .titlebar.widget.right {
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#b6d1ea), to(#698eb9));
}

/* login.css */
.login form input {
	-webkit-border-radius: 4px 4px 4px 4px;
}
.login form input[type='submit'] {
	background: -webkit-gradient(linear, 0 40%, 0 70%, from(#F9F9F9), to(#E3E3E3));
}

/* list.css */
table.list thead,
table.list tfoot {
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#fff), to(#dadada));
}

/* modal.css */
.simplemodal-container {
	-webkit-border-radius: 5px;
}

/* pagination.css */
ul.pagination li a {
	background: -webkit-gradient(linear, 0 40%, 0 70%, from(#F9F9F9), to(#E3E3E3));
}
ul.pagination .previous-off,
ul.pagination .next-off {
	background: -webkit-gradient(linear, 0 40%, 0 70%, from(#F9F9F9), to(#E3E3E3));
}

/* search.css */
#search .field {
	-webkit-border-radius: 7px;
}
#search_adv {
  	-webkit-border-radius: 5px;
}

/* theme.css */
ul#navigator li.selected a {
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#7f9bca), to(#5c79aa));
}
ul#navigator li:hover,
ul#navigator li a:hover {
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#7f9bca), to(#5c79aa));
}
.actions-box {
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#fff), to(#dadada));
}
.actions-box .action.submit.default {
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#7f9bca), to(#5c79aa));
}

/* tooltip.css */
.tooltip {
	-webkit-box-shadow: 0 0 10px #aaa;
}
