{% load i18n %}
<div id="language">
	<form action="/i18n/setlang/" method="post">
		{% csrf_token %}
		<!--<input name="next" type="hidden" value="/next/page/" />-->
		<p>
			<select name="language" onchange="return submit();" style="height: 18px; padding: 0px;">
				{% for lang in LANGUAGES %}
					{% if lang.0 == LANGUAGE_CODE %}
						<option value="{{ lang.0 }}" selected>{% trans lang.1 %}</option>
					{% else %}
						<option value="{{ lang.0 }}">{% trans lang.1 %}</option>
					{% endif %}
				{% endfor %}
			</select>
		</p>
	</form>
</div>