{% extends "layout.html" %}
{% load i18n %}

{% block title %}
{% trans "Dashboard" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(query);

{# var server_data = eval('({{ data|safe }})'); #}

function query() {
	$.ajax({
		type: 'POST',
		url: '{% url webui:dashboard-query %}',
		data: '&limit=5&period=month', // TODO(jweyrich): change to day?
		dataType: 'json',
		success: function(data) {
			update(data);
		},
		error: function(req, status, error) {
			alert('Error '+req.status+': '+req.responseText);
		}
	});
}

function update(data) {
	updateLatestConversations(data.latest_conversations);
	updateMostActiveUsers(data.most_active_users);
	$('#summary #users_online .value').text(data.total_users_online);
	$('#summary #active_conversations .value').text(data.total_active_conversations);
	//draw_most_active_users(data.most_active_users);
	drawMostActiveUsersImg(data.most_active_users);
}

function updateLatestConversations(data) {
	var template =
		'<tr style="height: 45px;">'+
		'  <td style="padding-left: 10px;">{0}<br />{1}</td>'+
		'  <td style="display: none;">'+
		'    <input id="conv_id" type="checkbox" value="{2}" />'+
		'    <input id="msg_id" type="checkbox" value="{3}" />'+
		'  </td>'+
		'  <td style="text-align: center;">{4}</td>'+
		'  <td style="text-align: center; padding-right: 10px;">{5}</td>'+
		'</tr>';
	var template_empty =
		'<tr style="height: 45px;">'+
		'  <td colspan="4" style="text-align: center; background-color: #fff; cursor: default;">{% trans "None." %}</td>'+
		'</tr>';
	var link_user =
		{% if perms.livemgr.see_users %}
			'<a href="{% url webui:users-index %}{1}">{0}</a>';
		{% else %}
			'{0}';
		{% endif %}
	var $tbody = $('#latest_conversations table tbody');
	$tbody.html('');
	if (data.length == 0)
		$tbody.append(template_empty);
	for (i in data) {
		var obj = data[i];
		$tbody.append(template.format(
			link_user.format(obj.localim, obj.user_id),
			obj.remoteim,
			obj.id,
			obj.msg_id,
			obj.timestamp,
			obj.total
		));
		$tbody.find('tr:last').click(function(event) {
			if ($(event.target).is('a') || event.target.type == 'checkbox')
				return;
			var conv_id = encodeURIComponent($(this).find('#conv_id').val());
			var msg_id = encodeURIComponent($(this).find('#msg_id').val());
			popupConversation(conv_id, msg_id);
		});
	}
}

function updateMostActiveUsers(data) {
	var template =
		'<tr style="height: 45px;">'+
		'  <td style="padding-left: 10px;">{0}</td>'+
		'  <td style="text-align: center; padding-right: 10px;">{1}</td>'+
		'</tr>';
	var template_empty =
		'<tr style="height: 45px;">'+
		'  <td colspan="2" style="text-align: center;">{% trans "None." %}</td>'+
		'</tr>';
	var link_user =
		{% if perms.livemgr.see_users %}
			'<a href="{% url webui:users-index %}{1}">{0}</a>';
		{% else %}
			'{0}';
		{% endif %}
	var $tbody = $('#most_active_users table tbody');
	$tbody.html('');
	if (data.length == 0)
		$tbody.append(template_empty);
	for (i in data) {
		var obj = data[i];
		var subject = obj.username;
		if (typeof(obj.user_id) == 'number')
			subject = link_user.format(obj.username, obj.user_id);
		$tbody.append(template.format(subject, obj.total));
	}
}

function popupConversation(conv_id, msg_id) {
	if (conv_id == undefined || msg_id == undefined)
		return;
	{% comment %}
	// TODO(jweyrich): evaluate http://code.google.com/p/django-jq/wiki/ProjectDocumentation
	//$('#messages').html('').load('{% url webui:conversations-show 1 %}');
	//$('#messages').html('').load('{% url webui:conversations-index %}/'+id, highlight_messages);
	{% endcomment %}
	var url = '{% url webui:conversations-index %}{0}#msg-{1}';
	new_window = window.open(
		url.format(conv_id, msg_id),
		'conversation',
		'height=600,width=800,menubar=no,toolbar=no,status=no,scrollbars=yes'
	);
	if (window.focus) {
		$(new_window).focus();
	}
}

// IE should accept const someday :-)
var window_size = getWindowSize();
var default_options = {
	width: window_size[0]-40,
	height: 230,
};

function drawMostActiveUsersImg(source) {
	if (source.length == 0)
		return;

	var target = document.getElementById('most_active_users_chart');
	var chart = new BarChart(target);
	var date = new Date().format(Calendar.getLocalizedFormat(true));
	var options = {
		title: '{% trans "Most Active Users" %} ('+date+')',
		margins: [0,0,0,0],
		size: [672,220],
		bar_width: 'a', // automatic
		bar_options: 'hs', // horizontal stacked
		data: {
			legend_position: 'b',
			axes: [
				{ // [0] - bars
					type: 'x',
					labels: [],
					values: [],
					//scale: [0,100],
					//range: [0,100],
					color: 0x7F9BCA,
					style: {
						ticks: {
							show: true,
							color: 0x676767,
						},
						labels: {
							color: 0x676767,
							font_size: 11.5,
							alignment: 0
						},
						line: {
							show: true
						}
					},
					//legend: null,
				},{ // [1] - right (total)
					type: 'r',
					labels: [],
					style: {
						line: {
							show: false
						},
					}
				},{ // [2] - left (usernames)
					type: 'y',
					labels: []
				},{ // [3] = bottom (messages)
					type: 'x',
					labels: ['','{% trans "messages" %}',''],
				}
			]
		}
	};

	{% if debug %}
	var gen_username = function(count_a, count_b) {
		var result = '';
		for (var i=0; i<count_a; ++i)
			result += String.fromCharCode('a'.charCodeAt(0)+Math.floor(Math.random() * 24))
		result += '@';
		for (var i=0; i<count_b; ++i)
			result += String.fromCharCode('a'.charCodeAt(0)+Math.floor(Math.random() * 24))
		return result;
	};
	{% endif %}
	var rows = new Array();
	for (i in source) {
		obj = source[i];
		rows.push([obj.username, obj.total]);
		{% if debug %}
		rows.push([gen_username(7, 6), Math.floor(Math.random() * 101)]);
		rows.push([gen_username(5, 8), Math.floor(Math.random() * 101)]);
		rows.push([gen_username(6, 5), Math.floor(Math.random() * 101)]);
		{% endif %}
	}
	rows.sort(function(a,b){return a[1]-b[1];});

	// values
	for (i in rows) {
		options.data.axes[0].values.push(rows[i][1]);
	}

	// scale
	var scale = chart.getScale(rows, function(row){return row[1];});
	//if (scale[1] < 10) scale[1] = 10;
	//scale[1] = chart.roundUp(scale[1]);
	options.data.axes[0].scale = [0, scale[1]];

	// range
	options.data.axes[0].range = [0, scale[1]];

	// labels
	for (i in rows) {
		options.data.axes[1].labels.push(rows[i][1]);
		options.data.axes[2].labels.push(rows[i][0]);
	}

	chart.draw(options);
}
</script>
{% endblock %}

{% block content %}
<div id="dashboard">
	<h2>{% trans "Dashboard" %}</h2>

	<div id="most_active_users" class="panel listing" style="width: 270px;">
		<div class="titlebar">
			<span>{% trans "Most Active Users" %}</span>
		</div>
		<table>
			<thead>
				<tr>
					<th style="text-align: left; padding-left: 10px;">{% trans "User" %}</th>
					<th style="width: 50px; padding-right: 10px;">{% trans "Messages" %}</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div id="latest_conversations" class="panel listing" style="width: 400px;">
		<div class="titlebar">
			<span>{% trans "Latest Conversations" %}</span>
		</div>
		<table>
			<thead>
				<tr>
					<th style="text-align: left; padding-left: 10px;">{% trans "Users" %}</th>
					<th style="display: none;"></th>
					<th style="width: 80px;">{% trans "Last activity" %}</th>
					<th style="width: 40px; padding-right: 10px;">{% trans "Messages" %}</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div id="summary" class="panel summary">
		<div id="users_online" class="row">
			<div class="value">0</div>
			<div class="key">{% trans "users online" %}</div>
		</div>
		<div id="active_conversations" class="row">
			<div class="value">0</div>
			<div class="key">{% trans "active conversations" %}</div>
		</div>
	</div>
	<div id="most_active_users_chart" class="panel chart"></div>
</div>
{% endblock %}
